    <div class="container classic p-5 shadow p-3 mb-5 bg-body rounded">

        <form>

        <div class="p-4">
            <h1 class="display-4 d-flex justify-content-center" style="font-size: 25px;">Unit Converter</h1>
        </div>


        <div class="row mt-4">
            <div class="col-sm d-flex justify-content-center">
                <form autocomplete="off" #queryForm="ngForm">
                    <div class="form-group">
                        <input 
                            type="text"
                            class="form-control text-center"
                            id="validationServer03" 
                            placeholder="25 cm in m"
                            required
                            aria-describedby="validationServer03Feedback" 
                            [ngClass]="{'is-invalid' : !queryForm.valid && queryForm.dirty,
                                        'is-valid': queryForm.valid}"
                            [pattern]="regex"
                            name="queryInput"
                            [(ngModel)]="queryInput"
                            #twoQuantitiesModel="ngModel"
                            twoQuantitiesValidator
                            (ngModelChange)="queryForm.valid && submitQuery($event)"
                        />
                        <div class="invalid-feedback text-center" *ngIf="twoQuantitiesModel.errors?.InvalidQuantities" id="validationServer03Feedback">
                            Invalid convertion between units
                        </div>
                        <div class="invalid-feedback text-center" *ngIf="!queryForm.errors?.pattern" id="validationServer03Feedback">
                            Please follow the example
                        </div>
                        <div class="invalid-feedback text-center" *ngIf="!queryForm.errors?.pattern" id="validationServer03Feedback">
                            Eg: 25 cm in m
                        </div>
                        <!-- <div *ngIf="queryForm.controls['queryControl']?.touched">Is touched</div> -->
                        <!-- <div *ngIf="queryForm?.dirty">Is touched</div> -->
                    </div>
                </form>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-sm">
                <hr class="hr-text" data-content="or">
            </div>
        </div>

        <div class="row mt-4">
    
            <div class="col-sm d-flex justify-content-center">
    
                <div class="form-group">
                    <div class="btn-group" ngbDropdown role="group" container="body" aria-label="Button group with nested dropdown">
                        <button class="btn btn-outline-info" id="quantity" ngbDropdownToggle style="width: 325px;">{{selectedQuantity.name}}</button>
                        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="quantity">
                            <button class="dropdown-item" *ngFor="let quantity of quantityList" (click)="changeMetric(quantity)" >{{quantity.name}}</button>
                        </div>
                    </div>
                </div>
    
            </div>
            
        </div>

        <div class="row mt-4">

            <div class="col-sm">
                <div class="form-group">
                  <label for="value-raw">From <b>{{inputQuantity.unit.symbol}} </b></label>
                  <div class="input-group">
                    <input id="value-raw" name="valueRaw" class="form-control" type="number" [(ngModel)]="value"
                      [ngQuantity]="inputQuantity">
                    <select class="form-control" name="selectedInput" [(ngModel)]="selectedInput" [ngUnitSelect]="inputQuantity"></select>
                  </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="form-group" *ngIf="outputQuantity">
                  <label for="value-length">To <b>{{outputQuantity.unit.symbol}}</b></label>
                  <div class="input-group">
                    <input id="value-length" name="valueLength" class="form-control" type="number" [(ngModel)]="value"
                      [ngQuantity]="outputQuantity">
                    <select class="form-control" name="selectedOutput" [(ngModel)]="selectedOutput" [ngUnitSelect]="outputQuantity"></select>
                  </div>
                </div>
            </div>

        </div>


        <div class="text-center mt-4">
            <div id="pipe-test-1" class="display-4">
                {{ value | ngQuantity:inputQuantity:true }} = {{ value | ngQuantity:outputQuantity:true }}
            </div>
        </div>

        </form>

    
    </div>